.edit-area {
    min-height: calc(100vh - 4rem);
    padding: 1.25rem;
    padding-top: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

.edit-container {
    padding: 2.125rem;
    border-radius: 5px;
    width: auto;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    
    background-color: var(--color-tertiary, #f8f8f8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
}

.edit-container-header {
    padding: 0.625rem 1.5rem;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: var(--color-quaternary);
}


.edit-container-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.date {
    font-family: var(--font-primary);
    font-size: 0.95rem;
    color: var(--color-primary);
}

.edit-post-owner {
    font-family: var(--font-secondary); 
    font-weight: 500; 
    font-size: 1rem; 
}

.edit-container-header .date {
    margin-left: auto; 
}

.upload-box {
    text-align: center;
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--color-quaternary);
}

.edit-container-figure {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.edit-container-figure img {
    width: 6rem;
    height: 4.8rem;
}

.upload-box p {
    margin-bottom: 0.625rem;

    color: #4B4D50;
    font-family: var(--font-primary);
    font-size: 1rem;
}

.upload-btn {
    width: 25%;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-weight: 700;
    
    border: none;
    border-radius: 5px;
    background-color: var(--color-highlight);
    cursor: pointer;
}

.upload-btn:hover {
    background-color: var(--color-hover-highlight);
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    font-family: var(--font-secondary);
    font-size: 0.9rem;
}

.edit-container-title {
    width: 100%;
    height: 2.5rem;
    
    padding: 0.75rem 1.125rem;
    
    font-family: inherit;
    font-size: inherit;

    border: none;
    border-radius: 5px;

    background-color: var(--color-quaternary);
}

.edit-container-title:focus {
    box-shadow: none;
    outline: none;
}

.edit-container-capiton {
    padding: 1.125rem;

    width: 52rem;
    height: 12.5rem;

    font-family: inherit;
    font-size: inherit;

    border: none;
    resize: none;
    background-color: var(--color-quaternary);
}

.edit-container-capiton:focus {
    box-shadow: none;
    outline: none;
}

.edit-container-button {
    width: 15%;
    padding-bottom: 0.35rem;

    align-self: flex-end;
    text-align: center;

    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 600;
    
    border-radius: 20px;
    border: none;
    background-color: var(--color-highlight);
    cursor: pointer;
}

.edit-container-button:hover {
    background-color: var(--color-hover-highlight);
}

/* .edit-container-figure {
    position: relative;
}

.edit-container-figure:before, .edit-container-figure:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
} */

/* .edit-container-figure img {
    width: 15%;
    height: 15%;
    margin: 0;
    padding: 0;
} */