.information {
  padding: 4.7rem;
  padding-top: 6rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-profile-information {
  
  height: 30rem;
  width: 37rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  background: #f7f7f7;
}

.post-header-information {
  text-align: center;
  margin-bottom: 30px;
}

.post-header-profile-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.post-header-img-profile-information {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 18px;
  font-weight: 500;
  color: #2c2c2c;
}

/* Formulário */
.form_information {
  margin-top: 10px;
}

.label_information {
  font-size: 14px;
  margin: 12px 0 5px;
  display: block;
  color: #444;
}

.input_information {
  width: 100%;
  padding: 14px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
}

.input_information::placeholder {
  color: #bbb;
}

.buttons_information {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-v, .btn-s {
  padding: 12px 32px;
  font-size: 14px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Botão Voltar (contorno) */
.btn-v {
  background: transparent;
  border: 2px solid #c9a57a;
  color: #6b4b2b;
}

.btn-v:hover {
  background-color: #f3ece6;
}

/* Botão Salvar (preenchido) */
.btn-s {
  background-color: #c9a57a;
  color: white;
  border: none;
}

.btn-s:hover {
  background-color: #b08b61;
}
