.body__login__register {
    margin: auto;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;


    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 1.1rem;

    background-color: var(--color-secondary);

    cursor: default;
}

/*STYLE LOGIN PAGE*/

.main__login__register {
    width: 25rem;
    max-width: 25rem; 
    
    margin: auto;
    padding: 3rem 4rem;

    border-radius: 5px;

    background-color: var(--color-primary);
}


.login__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.login__logo h1 {
    font-family: var(--font-tertiary);
    font-size: 3rem;
    font-weight: 500;
}


.form__login {
    margin: 5rem 0 6.25rem 0;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


/* STYLE REGISTER PAGE */

.register__logo {
    text-align: center;
    margin-bottom: 2rem;

    font-family: var(--font-tertiary);
}

.register__logo h1 {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    font-weight: 600;
}

.register__logo h1 span {
    color: var(--color-highlight);
    font-weight: 800;
}


.form__register {
    margin-bottom: 5rem;
    
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}



/* STYLES ON THE LOGIN PAGE AND REGISTRATION PAGE */

.login__register__input {
    padding: 0.8rem;

    font-family: inherit;
    font-size: 1.2rem;

    border: none;
    border-radius: 8px;
}


.login__register__input::placeholder {
    color: #4B4D50;
}


.login__register__button {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;

    border: none;
    border-radius: 5px;

    background-color: var(--color-highlight);

    cursor: pointer;
}


.login__register__hint {
    text-align: center;
    font-weight: 600;
}


.hint__link {
    text-decoration: none;

    color: var(--color-highlight);
    font-weight: 800;
}


.footer__login__register {
    margin-top: auto;

    width: 100%;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    background-color: var(--color-primary);
}