.body-login-register {
    margin: 0 auto;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;


    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 0.95rem;

    background-color: var(--color-secondary);

    cursor: default;
}

/*STYLE LOGIN PAGE*/

.main-login-register {
    width: 90%;
    max-width: 22rem; 
    
    margin: auto;
    padding: 2rem 3rem;

    border-radius: 5px;

    background-color: var(--color-primary);
}


.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.login-logo img {
    width: 3.5rem; 
    height: 3.5rem;
}


.login-logo h1 {
    font-family: var(--font-tertiary);
    font-size: 2.5rem;
    font-weight: 600;
}


.form-login {
    margin: 5rem 0 6.25rem 0;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


/* STYLE REGISTER PAGE */

.register-logo {
    text-align: center;
    margin-bottom: 2rem;

    font-family: var(--font-tertiary);
}

.register-logo h1 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
}

.register-logo h1 span {
    color: var(--color-highlight);
    font-weight: 700;
}

.register-logo img {
    width: 3rem;
    height: 3rem;
}

.form-register {
    margin-bottom: 4rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}



/* STYLES ON THE LOGIN PAGE AND REGISTRATION PAGE */

.login-register-input {
    padding: 0.6rem;

    font-family: inherit;
    font-size: 0.75rem;

    border: none;
    border-radius: 5px;
}


.login-register-input::placeholder {
    color: #4B4D50;
    font-family: var(--font-secundary);
    font-size: 0.75rem;
}


.login-register-button {
    padding: 0.4rem;

    color: inherit;
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: 600;

    border: none;
    border-radius: 5px;

    background-color: var(--color-highlight);

    cursor: pointer;
}


.login-register-hint {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}


.hint-link {
    text-decoration: none;

    color: var(--color-highlight);
    font-weight: 700;
}


.footer-login-register {
    margin-top: auto;

    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;
    font-weight: 500;

    background-color: var(--color-primary);
}