@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./login_register.css);
@import url(./inicio.css);
@import url(./tabelas.css);

:root {
    --color-primary: #2B3A2E;
    --color-secondary: #375240;
    --color-tertiary: #F8F8F8;
    --color-highlight: #C6A27C;
    --color-text-sidebar: #FAF0E6;

    --font-primary: "Darker Grotesque", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --font-tertiary: "Playfair Display", sans-serif;
    --font-caption: "Urbanist", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}